.job-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}

.job-company {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}
.job-company img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.job-title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.job-description {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}
