.signup {
  width: 50%;
  height: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  box-shadow: 15px 15px 15px 15px #ccc;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  display: flex;
  gap: 2rem;
}
